body, 
header {
    font-family: lato;
}

#header {
    font-size: 200%;
    background-color: #adb5fe;
    border-radius: 10px;
    border: thick solid #adb5fe;
}

.header-text {
    display: inline;
    padding: 10px;
    font-weight: 700;
}

#navbar {
    display: inline-block;
    float: none;
    position: absolute;
    left: 40%;
    vertical-align: bottom;
    
}

.navlink {
    padding: 10px;
    text-decoration: none;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

a:link, 
a:visited {
    color: black;
}

a:hover, 
a:active {
    color: #0215c7
}

