:root {
  font-family: lato;
}

#header {
  background-color: #adb5fe;
  border: thick solid #adb5fe;
  border-radius: 10px;
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.18);
  font-size: 200%;
}

.header-text {
  display: inline;
  font-weight: 700;
  padding: 10px;
}

#navbar {
  display: inline-block;
  float: none;
  left: 35%;
  position: absolute;
  vertical-align: bottom;
}

.navlink {
  padding: 15px;
  text-decoration: none;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.dropdown-list {
  display: none;
  font-size: 75%;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  width: max-content;
}

.dropdown-list a {
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-list,
.dropdown:focus-within .dropdown-list {
  display: block;
}

#content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 70%;
}

#content a,
#content p {
  font-size: 125%;
}

#guest-book {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 70%;
  font-size: 125%;
}

#guest-book textarea,
#guest-book input {
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  padding: 10px;
  font-size: 100%;
}

#guest-book textarea[name=message] {
  width: 70%;
  height: 60px;
}

#guest-book textarea[name=name] {
  width: 17%;
  height: 18px;
}

#guest-book input {
  background: white;
  padding: 5px 10px;
}

#guest-book input:hover {
  background: #c4c4c4;
}

.message::before,
.message::after {
  content: "\"";
}

.signature::before {
  content: "  — "; /* two long spaces before em-dash */
}

a:link, 
a:visited {
  color: black;
}

a:active, 
a:hover {
  color: #0215c7;
  font-weight: bold;
}

.more-info {
  overflow: hidden;
  transition: max-height ease-in-out 0.75s;
  max-height: 0;
}

/* Hide the focus outline if the user isn't using tabs to focus. */
body:not(.user-is-tabbing) h3:focus,
body:not(.user-is-tabbing) button:focus {
  outline: none;
}

.more-button {
  font: inherit;
  font-size: inherit;
  background: inherit;
  border: inherit;
}